<!--
  NOTE:  This file is a copy of what exists on the classpath and is not loaded on startup.  If it is modified,
  to load at runtime,  use the following:

  -Dlogback.configurationFile=<path to logback.xml>

-->
<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDERR" />
    </root>
</configuration>